
.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#msform {
width:100%;
margin-top: 50px;
}
#msform2 {
  padding-top: 50px;
  background-color: #2a7886;
  width:30%;
  height: 35%;
  position: absolute;
  left: 40%;
  top:20%;
  padding-bottom: 10%;
  border-radius: 20%;
  border: 3px solid #F1F3F4;
  text-align: left;
  padding-left: 50px;
  opacity: 0.8;
}

/*inputs*/
#msform input, #msform textarea {
	padding: 10px;
	border: 1px solid #2a7886;
	border-radius: 50px;
	margin-bottom: 10px;
	width: 25%;
	box-sizing: border-box;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
* {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .16s;
  outline: none;
  transition-timing-function: ease;
  webkit-transition: 10s;
}


#msform .action-button {
  width: 100px;
  	background: #2a7886;
  	color: white;
  	border: 0 none;
  	border-radius: 50px;
  	cursor: pointer;
  	padding: 10px 5px;
  	margin: 10px 5px;
  svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

 #msform2 .action-button {
    width: 100px;
    	background: #F1F3F4;
    	color: black;
    	border: 0 none;
    	border-radius: 50px;
    	cursor: pointer;
    	padding: 10px 5px;
    	margin: 10px 5px;
    svg {
      height: 45px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

  rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
  }
}

#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #2a7886;
  background: rgba($red, 0);
 font-weight: 900;
 letter-spacing: 1px;

 rect {
   stroke-width: 5;
   stroke-dasharray: 15, 310;
   stroke-dashoffset: 48;
   transition: all 0.35s cubic-bezier(0.19, 1, 0.22, 1);
 }
}
 #msform2 .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #2a7886;
  background: rgba($red, 0);
 font-weight: 900;
 letter-spacing: 1px;

 rect {
   stroke-width: 5;
   stroke-dasharray: 15, 310;
   stroke-dashoffset: 48;
   transition: all 0.35s cubic-bezier(0.19, 1, 0.22, 1);
 }
}

#seatArea .action-button {
  width: 100px;
    background: #F1F3F4;
    color: black;
    border: 0 none;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
  svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
#seatArea .action-button:hover, #seatArea .action-button:focus {
 box-shadow: 0 0 0 2px white, 0 0 0 3px #2a7886;
 background: rgba($red, 0);
font-weight: 900;
letter-spacing: 1px;

rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  transition: all 0.35s cubic-bezier(0.19, 1, 0.22, 1);
}
}

#leaderboard{
  padding-top: 50px;
  background-color: #2a7886;
  width:20%;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  padding-bottom: 50px;
  border-radius: 6%;
  border: 3px solid #F1F3F4;
  text-align: center;
  opacity: 0.8;
}
#seatArea{
  padding-top: 50px;
  background-color: #2a7886;
  width:20%;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  padding-bottom: 50px;
  border-radius: 6%;
  border: 3px solid #F1F3F4;
  text-align: center;
  opacity: 0.8;
}


.textarea {
/*text-align: center;*/
/*  align-items: center;*/
/*  justify-content: center;*/
  font-size: calc(10px + 2vmin);
  padding: 10px;
	border: 1px solid #27AE60;
	border-radius: 50px;
	margin-bottom: 10px;
	width: 25%;
	box-sizing: border-box;
	color: #2C3E50;
	font-size: 13px;
  margin: auto
}
.header{
  left:0;
  right:0;
  top:0;
  height: 70px;
  border-bottom: 3px solid #F1F3F4;
  background-color: #2a7886;
  justify-content: center;
}
.footer {
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  border-top: 3px solid #F1F3F4;
  background: #2a7886;
  color: white;
  line-height: 50px;
  justify-content: center;
  text-align: center; 

}
.logo{
 border-radius: 50%;
 width: 50px;
 height: 50px;
 position: absolute;
 left: 20px;
 top: 10px;
}
.profileButton{
  margin-right: 20px;
  float: right;
}
div.left {
  float: left;
  opacity: 0.8;
width: 20%;
height: 70%;
border: 5px solid #F1F3F4;
border-top: none;
padding-top: 50px;
background-color: #2a7886;
border-radius: 500px;
margin-top: 1%;
margin-left: 1%;
}
.h2{
  position: relative;
  left: auto;
}
.frame{
  position:relative;
  text-align:center;
  justify-content: center;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./components/building.jpg);
  height: 100vh;

}

p{
  position: relative;
  left: auto;
}
